@model Movie
<h1>People and Movies</h1>
<hr>
<h3>Title: @Model.Title</h3>
<h3>Genre: @Model.Genre</h3>
<h3>Release Year: @Model.ReleaseYear</h3>
<h3>Number of Favorites: @Model.Favorites</h3>

<a href="/">Go Back</a> 